@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Nunito", sans-serif;

}

body {
  @apply bg-gray-50 text-gray-700 font-sans text-lg;
  line-height: 1.5;
}


